{% extends "layouts/base_home.html" %}

{% block title %}
    Telegram Account Management
{% endblock title %}

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}

    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/static/assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/static/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/static/assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/assets/vendors/owl-carousel-2/owl.theme.default.min.css">

{% endblock plugin_stylesheets %}

{% block content %}
    {% include 'includes/sidebar.html' %}

    <div class="container-fluid">

        {% include "includes/navigation.html" %}


        <div class="main-panel">

            <div class="content-wrapper ">

                <div class="row">

                </div>


            </div>

        </div>

        {#        {{ test }}#}
    </div>
{% endblock content %}


<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}


{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

{% endblock javascripts %}
