[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
arrow = "*"
pyrogram = "*"
tgcrypto = "*"
colorlog = "*"
termcolor = "*"
python-decouple = "*"
django-celery-beat = "*"
django-crispy-forms = "*"
psycopg2-binary = "*"
flower = "*"
gevent = "*"
eventlet = "*"
whitenoise = "*"
celery = "~=5.0"
redis = "*"

[requires]
python_version = "3.6"
