[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
arrow = "*"
tgcrypto = "*"
colorlog = "*"
termcolor = "*"
python-decouple = "*"
django-celery-beat = "*"
django-crispy-forms = "*"
psycopg2-binary = "*"
eventlet = "*"
whitenoise = "*"
celery = "~=5.0"
redis = "*"
watchdog = "*"
PyYAML = "*"
argh = "*"
asgiref = "*"
trio = "*"
emoji = "*"
django-debug-toolbar = "*"
Pillow = "*"
gunicorn = "*"
importlib-metadata = "*"
async_lru = "*"
PySocks = "*"
graphene-django = "*"

[requires]
python_version = "3.6"
