{% extends "layouts/base_home.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Enter New Password
{% endblock title %}

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}

    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/static/assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/static/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/static/assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/assets/vendors/owl-carousel-2/owl.theme.default.min.css">

{% endblock plugin_stylesheets %}

{% block content %}
    {% include 'includes/sidebar.html' %}

    <div class="container-fluid">

        {% include "includes/navigation.html" %}


        <div class="main-panel">

            <div class="content-wrapper ">

                <div class="row">

                    <div class="card col-12 ">
                        <div class="card-header">
                            <h4>
                                Set a new password!
                            </h4>
                        </div>
                        <div class="card-body ">
                            <form method="POST">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <input class="btn btn-inverse-primary" type="submit" value="Change my password">
                            </form>
                        </div>

                    </div>

                </div>


            </div>

        </div>

    </div>
{% endblock content %}


<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}


{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}
